.ccontainer {
background-color: white;
display: flex;

}
.box {
    width: 400px;
    height: 100px;
    background-color: green;
    margin: 10px;
    color: white;
    font-size: 50px;
}
.box1 {
    flex-grow: 1;
}
.box2 {
    flex-grow: 1;
}
.box3 {
    flex-grow: 1;
}
.box4 {
    flex-grow: 1;
}
.box5 {
    flex-grow: 1;
}
.box6 {
    flex-grow: 1;
}